{% comment %}
  Title: ComicHive Articles
  Description: Articles on homepage
{% endcomment %}

<style>
    .comichive-articles a{
        display: block;
        color: #FC582D;
        text-decoration: underline;
        font-size: 14px;
        margin-top: -4px;
    }

    .comichive-articles span{
        font-size: 10px;
        background: #000000;
        color: #FFFFFF;
        padding: 3px 10px;
        text-transform: uppercase;

        position: absolute;
    }
</style>

{% assign blogdata = blogs.news %}

<section class="page-width !my-[40px]">
  <h1 id="articles-title" class="mb-[10px]">{{ section.settings.articles_title }}</h1>

  <div class="comichive-articles flex max-lg:flex-wrap gap-[20px]">
    {% if blogdata.articles.size > 0 %}
      {% for article in blogdata.articles limit: 3 %}
        <div>
            <span>{{ article.published_at | date: '%d %b %Y' }}</span>
            <img
              src="{{ article.image | image_url: width: 1000 }}"
              alt="{{ article.title }}"
              width="500"
              height="500"
              loading="lazy"
              class="max-h-[180px] max-lg:max-h-[220px] max-lg:max-w-[400px]  max-sm:max-w-full object-cover mb-[5px]"
            >
            <h2>{{ article.title }}</h2>
            <a href="{{ article.url }}">Read more</a>
        </div>
      {% endfor %}
    {% else %}
      <p>No articles found.</p>
    {% endif %}
  </div>
</section>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    // GSAP Animations
    gsap.registerPlugin(ScrollTrigger);
  
    // Animate the section title from left to right
    gsap.from("#articles-title", {
      scrollTrigger: {
        trigger: "#articles-title",
        start: "top 100%",
        end: "top 0%",
        toggleActions: "play none none none"
      },
      x: -100,  // Moves the title from left
      opacity: 0,
      duration: 0.5  // Set the duration for the title animation
    });
  
    // Animate the article cards (each div in the loop)
    gsap.utils.toArray(".comichive-articles > div").forEach((article, index) => {
      gsap.from(article, {
        scrollTrigger: {
          trigger: article,
          start: "top 120%",
          end: "top 0%",
          toggleActions: "play none none none"
        },
        y: 50, // Moves the articles from below
        opacity: 0,
        duration: 0.5, // Faster animation for the article cards
        delay: index * 0.2 // Delays each card animation slightly
      });
    });
  });
  
</script>

{% schema %}
{
  "name": "ComicHive Articles",
  "settings": [
    {
      "type": "text",
      "id": "articles_title",
      "label": "Articles Title",
      "default": "Read our articles"
    }
  ],
  "presets": [
    {
      "name": "ComicHive Articles"
    }
  ]
}
{% endschema %}
