{% comment %}
  Title: ComicHive Articles
  Description: Articles on homepage
{% endcomment %}

<style>
    .comichive-articles a{
        display: block;
        color: #FC582D;
        text-decoration: underline;
        font-size: 14px;
        margin-top: -4px;
    }

    .comichive-articles span{
        font-size: 10px;
        background: #000000;
        color: #FFFFFF;
        padding: 3px 10px;
        text-transform: uppercase;

        position: absolute;
    }
</style>

{% assign blogdata = blogs.news %}

<section class="page-width !my-[40px]">
  <h1 class="mb-[10px]">{{ section.settings.articles_title }}</h1>

  <div class="comichive-articles flex max-lg:flex-wrap gap-[20px]">
    {% if blogdata.articles.size > 0 %}
      {% for article in blogdata.articles limit: 3 %}
        <div>
            <span>{{ article.published_at | date: '%d %b %Y' }}</span>
            <img
              src="{{ article.image | image_url: width: 1000 }}"
              alt="{{ article.title }}"
              width="500"
              height="500"
              loading="lazy"
              class="max-h-[180px] max-lg:max-h-[220px] max-lg:max-w-[400px]  max-sm:max-w-full object-cover mb-[5px]"
            >
            <h2>{{ article.title }}</h2>
            <a href="{{ article.url }}">Read more</a>
        </div>
      {% endfor %}
    {% else %}
      <p>No articles found.</p>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "ComicHive Articles",
  "settings": [
    {
      "type": "text",
      "id": "articles_title",
      "label": "Articles Title",
      "default": "Read our articles"
    }
  ],
  "presets": [
    {
      "name": "ComicHive Articles"
    }
  ]
}
{% endschema %}
